@mixin hamburger {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

@mixin hamburg-children {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: inherit;
    border-radius: 50%;
    transition: transform 250ms ease-in;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin form-input {
    appearance: none;
    -webkit-appearance: none;
    padding: 0.7em 3em;
    font-family: inherit;
    resize: none;
    border: none;
    border-radius: 2px;
}

@mixin layout {
    margin: 0 -2em;
    padding: 4em 2em;

    h2 {
        color: #ce9e62;
        font-size: 2rem;
    }
}