@import "variable";
@import "reset";
@import "mixin";


input {
    @include form-input;
    border: 1px solid #ccc;
}

textarea {
    @include form-input;
    padding-left: 1em;
    border: 1px solid #ccc;;
}
 
button {
    @include form-input;
    padding: 0.7em 1em;
    width: 100%;
    text-transform: capitalize;
    font-weight: 500;
    color: #eaeaeb;
    background-color: var(--btn-bg);
 }


/* header styles */
header.banner {
    height: 70vh;
    position: relative;
    padding: 1em var(--pry-padding) 6em var(--pry-padding);
   
    &::before,
    &::after {
        content: "scroll down";
        position: absolute;
        top: 90%;
        font-weight: 500;
        transform: rotate(90deg) translateX(50%);
        animation: beat 1s ease-out infinite alternate;
    }

    &::after {
        right: 0;
    }
    
    .comp-logo {
        background-color: var(--deep-bg);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0.2em 2em;
        display: flex;
        justify-content: space-between;
        z-index: 5;
        transition: opacity 400ms ease;
        
        > h1 {
            margin-bottom: 0;

            a {
                padding: 0;
                color: var(--deep-gold);
            }
        }
    }
    
    .hamburger {
        @include hamburger;
        @include flex(row);
        z-index: 3;
    }
    
    .hamburger > div {
        position: relative;
        width: 100%;
        height: 2.5px;
        border-radius: var(--pry-radius);
        background-color: var(--burger-color);
        transition: transform 250ms ease-in;
        
        &::before,
        &::after {
            @include hamburg-children;
            content: "";
            top: 5px;
            transition: transform 300ms ease;
        }
        
        &::after {
            top: -5px;
        }
    }
     
    #toggler {
        @include hamburger;
        z-index: 6;
        opacity: 0;
        cursor: pointer;
        padding: 0;
        
        &:checked + .hamburger > div {
            transform: rotate(135deg);
        }
        
        &:checked + .hamburger > div::before,
        &:checked + .hamburger > div:after {
            top: 0;
            border-radius: var(--pry-radius);
            transform: rotate(90deg);
        }
        
        &:checked:hover + .hamburger > div {
            transform: rotate(45deg);
        }
        
        &:checked ~ .mainlinks  {
            width: 100vw;
            transition: width 250ms ease;
        }

        &:checked ~ .mainlinks > ul > li {
            transform: translateX(0);
        }

        &:checked ~ .mainlinks > .sec-links {
            transform: translateY(0);
            transition-delay: 1s;
        }

        &:checked ~ .mainlinks > #themer {
            opacity: 1;
            transition: opacity 1s ease-in;
        }
    }
    
    .mainlinks {
        background-color: rgba(0, 0, 0, .95);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 100vh;
        overflow: hidden;
        transition: width 250ms ease 410ms;

        ul {
            list-style: none;
            @include flex(column);
            width: 100%;
            height: 70%;
            margin-top: 20px;
        }
        
        li {
            margin: 2rem 0;
            transform: translateX(-500px);
            transition: transform 1s ease;

            &:nth-child(2) {
                transition-delay: 80ms;
            }

            &:nth-child(3) {
                transition-delay: 160ms;
            }

            &:nth-child(4) {
                transition-delay: 240ms;
            }

            &:nth-child(5) {
                transition-delay: 320ms;
            }

            &:nth-child(6) {
                transition-delay: 400ms;
            }
        }

        a {
            color: var(--link-color);
        }

        .sec-links {
            width: 100%;
            @include flex(row);
            gap: 30px;
            position: absolute;
            margin-top: 3rem;
            transform: translateY(500px);
            transition: transform 300ms ease;

            i {
                font-size: 1.3rem;               
                font-weight: 700;
               /*  color: #eaeaeb; */
            }

        }

        #themer {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 1rem;
            color: var(--deep-gold);
            background-color: var(--deep-bg);
            cursor: pointer;
            opacity: 0;
        }
    }

    .banner-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        p {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        span {
            font-size: 2.6rem;
            font-weight: 700;
        }

        a {
            border: 1px solid var(--deep-bg);
            margin-right: 5px;
            padding: 0.6em 1.2em;
        }
       
    }

    .media-links {
        @include flex(column);
        position: absolute;
        gap: 10px;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        z-index: 4;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -46%;
            left: 50%;
            height: 60px;
            width: 2px;
            transform: translateX(-50%);
            background-color: #fff;
        }

        &::after {
            top: 106%;
        }
    }
}

@keyframes beat {
    0% {
        transform: rotate(90deg) translateX(0);
    }

    100% {
        transform: rotate(90deg) translateX(20px);
    }
}


/* main styles */
main.content {
    padding: 4em var(--pry-padding);
    padding-bottom: 0;
    text-align: center;

    section {
        padding: 1em;
        margin: 4rem 0;
    }

    #about {
        background-color: var(--deep-bg);
       @include layout;
       display: flex;
       flex-direction: column;

       img {
           outline: 1px solid #ccc;
           outline-offset: 3px;
           margin-bottom: 1rem;
       }

       h2 {
           margin-bottom: var(--margin-bottom);
       }

       span {
           display: block;
           margin: 1rem 0;
       }
    }

    #services {
        background-color: var(--dark-bg);
        position: relative;
        padding: 0 0 1em 2em;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--deep-bg);
        }

        &::after {
            content: "";
            position: absolute;
            top: 99.8%;
            left: 0;
            transform: translate(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid var(--deep-bg);
        }

        h2 {
            font-size: 2rem;
            margin-bottom: var(--margin-bottom);
            color: var(--deep-gold);
        }

        > div {
            position: relative;
            padding-left: 5px;
            filter: drop-shadow(1px 0px 2px #3535358b)
                    drop-shadow(-2px -1px 4px var(--deep-bg));

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-120%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 4px solid var(--deep-bg);
                clip-path: initial;
                z-index: 3;
            }

            &::after {
                content: "\f16c";
                position: absolute;
                top: 6.5px;
                left: -39px;
                width: 25px;
                height: 25px;
                color: var(--pry-font-color);
                border-radius: 50%;
                background-color: var(--deep-bg);
                font-family: "Font Awesome 5 Brands";
                transition: transform 500ms ease;
            }

            &:hover::after {
                transform: rotate(360deg) scale(.8);
            }
        }

        .web-dev i {
            color: #B52534;
        }

        .web-sec i {
            color: #ADCB50;
        }

        .web-design i{
            color: #2338B1;
        }

        .design {
            text-align: left;
            position: relative;
            padding: 1em 2em;
            margin-bottom: 1rem;
            height: 100%;
            width: 100%;
            border-radius: var(--pry-radius);
            background-color: var(--deep-bg);
            clip-path: polygon(10px 0px, 10px 10px, 0px 15px, 10px 25px, 10px 100%, 100% 100%, 100% 0% );
            position: relative;
        }

        h3 {
            margin: 1rem;
            margin-left: 0;
            font-size: 1.2rem;
        }

        i {
            font-size: 2.3rem;
            filter: var(--icon-shadow);  
        }

    }

    #skills {
        @include layout;
        background-color: var(--deep-bg);
        @include flex(column);

        /* temporary styling */

        li {
            display: grid;
            grid-template-columns: 150px 150px;
            justify-items: center;
            align-items: center;
            padding: 1em;
        }

        span:nth-child(2) {
            justify-self: left;
            text-transform: capitalize;
        }

        i {
            font-size: 3rem;
            filter: var(--icon-shadow);
        }

        /* end of temporary styling */
    }

    #portfolio {
        @include layout;

        h2 {
            margin-bottom: var(--margin-bottom);
        }

        .project {
            margin-bottom: 2rem;
            height: 300px;
            position: relative; 

            &:hover > .wrapper {
                height: 100%;
            }
        }

        img {
            height: 100%;
            border-radius: var(--pry-radius);
        }

        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            background-color: var(--deep-bg);
            transition: height 300ms ease;
            @include flex(column);
            padding: 0 1em;
        }
    }

    #testimonial { 
        @include flex(column);
        position: relative;
        @include layout;
        color: var(--pry-font-color);
        background-color: var(--deep-bg);
        padding-bottom: 0;

        h2 {
            margin-bottom: var(--margin-bottom);
        }
       
        .slider {
            position: relative;
            width: 250px;
            height: 450px;
            overflow: hidden;
        }
        
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 600ms ease;

            > h5 {
                font-size: 1rem;
            }

            p {
                transform: translateY(200px);
                opacity: 0;
                transition: transform 1000ms ease 300ms;
            }
        }
        
        .current {
            opacity: 1;

            p {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        button {
            position: absolute;
            top: 35%;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: #eaeaeb;
            font-weight: bold;
            cursor: pointer;
            @include flex(row);
            background-color: var(--dark-bg);

            &:hover {
                background-color: rgba(0,0,0,.8);
            }
        }
        
        #next {
            right: 10px;
        }
        
        #prev {
            left: 10px;
        }
    }

    #contact {
        @include layout;
        text-align: left;

        h2 {
            text-align: center;
            margin-bottom: var(--margin-bottom);
        }

        .contact-info {
            display: none;
        }

        .form-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            position: relative;
        }

        i {
            content: "";
            position: absolute;
            top: 61%;
            left: 0;
            padding: 0 0 0 1em;
            color: #282B308f;
        }
        
        input[type="text"]::placeholder,
        input[type="email"]::placeholder,
        textarea::placeholder {
            font-size: 11px;
        }
    
        label {
            margin-bottom: 3px;
            font-weight: 500;
            text-transform: capitalize;
        }

        button:hover {
          background-color: lighten(#0f1626, 7);
        }

    }

}

@keyframes move {
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translate(0);
    }
}


/* footer styles */
footer.glossary {
    text-align: center;
    padding: var(--pry-padding);
    @include flex(column);
    background-color: var(--deep-bg);

    h2 {
        color: var(--deep-gold);
    }
    
    p:nth-of-type(2) {
        font-size: 0.7rem;
    }

    .sec-links {
        margin-bottom: 1rem;;
    }
}


/* media queries */
@media only screen and (max-width: 300px) {
    body {
        font-size: 0.7rem;
    }
}

@media (min-width: 501px) and (max-width: 900px) {

    header.banner {
        height: 100vh;
        padding: 0;
        width: 100%;

        &::before,
        &::after {
            all: initial;
        }

        .comp-logo {
            @include flex(column);
            justify-content: space-between;
            align-items: center;
            width: inherit;
            padding: 0.2em var(--desk-padding) 1em var(--desk-padding);

            /* > h1 {
                width: 20%;
                outline: $debugger;
            } */
        }

        #toggler,
        .hamburger {
            display: none;
        }

        .mainlinks {
            margin-top: 20px;
            position: initial;
            width: 75%;
            height: initial;
            background-color: inherit;
            overflow: visible;

            ul {
                flex-direction: row;
                gap: 15px;
                height: 100%;
                margin: 0; 
            }

            li {
                transform: initial;
                margin: 0;

                &:first-child {
                    margin-left: auto;
                }

                &:nth-last-child(2) {
                    margin-left: auto;
                }
            }

            a {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 2px;
                    width: calc(100% - 0.5em);
                    transform: translateX(-50%) scale(0);
                    border-radius: var(--pry-radius);
                    background-color: rgb(231, 39, 39);
                    transition: all 400ms ease;
                }

                &:hover::after,
                &:focus::after {
                    transform: translateX(-50%) scale(1);
                }
            }

            .sec-links {
                display: none;
            }
        }
    }

}

@media (min-width: 901px) {

    header.banner {
        height: 100vh;
        padding: 0;
        width: 100%;

        &::before,
        &::after {
            all: initial;
        }

        .comp-logo {
            width: inherit;
            padding: 0.2em var(--desk-padding);

            > h1 {
                width: 20%;
            }
        }

        #toggler,
        .hamburger {
            display: none;
        }

        .mainlinks {
            position: initial;
            width: 75%;
            height: initial;
            background-color: inherit;

            ul {
                flex-direction: row;
                gap: 15px;
                height: 100%;
                margin: 0; 
            }

            li {
                transform: initial;
                margin: 0;

                &:first-child {
                    margin-left: auto;
                }

                &:nth-last-child(2) {
                    margin-left: auto;
                }
            }

            a {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 2px;
                    width: calc(100% - 0.5em);
                    transform: translateX(-50%) scale(0);
                    border-radius: var(--pry-radius);
                    background-color: rgb(231, 39, 39);
                    transition: all 400ms ease;
                }

                &:hover::after,
                &:focus::after {
                    transform: translateX(-50%) scale(1);
                }
            }

            .sec-links {
                display: none;
            }
        }

        .banner-text {
            padding: 0 6em;

            p {
                font-size: 2.6rem;
            }

            span {
                font-size: 3.5rem;
            }

            a {
                padding: 0.6em 1.5em;
            }
        }
    }

    main.content {
        padding: 0;

        section {
            padding: 0;
            margin: 0;
        }

        #about {
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-content: center;
            align-items: start;
            gap: 60px;
            padding: 4em var(--desk-padding);
            margin: 0;

            .about_text {
                text-align: left;
                align-self: center;
                width: 34ch;
            }

            h2 {
                margin-bottom: 0;
            }
        }

        #services {
            padding: 4em var(--desk-padding);
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            &::before,
            &::after {
                display: none;
            }

            h2 {
                grid-column: 1/-1;
            }

            > div {
                &::before,
                &::after {
                    display: none;
                }
            }
        }

        #testimonial,
        #portfolio,
        #contact,
        #skills {
            margin: 0;
            padding: 4em var(--desk-padding);
        }

        #skills {
        
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        #portfolio {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;

            h2 {
                grid-column: 1/-1;
            }

            .project {
                margin-bottom: 0;
            }
        }

        #testimonial {
            padding-bottom: 6em;
            .slider {
                width: 70%;
                height: 300px;
            }
            
            .slide {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;

                p {
                    transform: translateX(500px);
                }
            }

            .current {
                p {
                    transform: translateX(0)
                }
            }

            button {
                top: 90%;
                width: 50px;
                height: 50px;
                font-size: 1rem;
            }

            #next {
                right: 45%;
            }

            #prev {
                left: 45%;
            }

        }

        #contact {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            column-gap: 100px;

            h2 {
                grid-column: 1/-1;
            }

            .contact-flex {
                display: flex;
                gap: 50px;

            }

            .contact-info {
               display: grid;
               align-items: start;

               h3 {
                    padding-left: 2.5rem;
               }

                i {
                    position: static;
                    color: var(--pry-font-color);
                    font-size: 2.5rem; 
                }

            }

            a {
                text-transform: none;
                padding: 0;
            }
        }
    }
}


@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.1rem;
        background-color: var(--dark-bg);
    }

    main.content {

        #services {
            grid-template-columns: repeat(3, 1fr);
        }

        #skills {
        
            ul {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        #portfolio {
            grid-template-columns: repeat(3, 1fr);
        }        
        
    }

    
}