@charset "UTF-8";
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: montserrat, Arial, helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #eaeaeb;
}

a {
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  padding: 0.3em 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h2 {
  font-size: 1.6rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.7em 3em;
  font-family: inherit;
  resize: none;
  border: none;
  border-radius: 2px;
  border: 1px solid #ccc;
}

textarea {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.7em 3em;
  font-family: inherit;
  resize: none;
  border: none;
  border-radius: 2px;
  padding-left: 1em;
}

button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.7em 3em;
  font-family: inherit;
  resize: none;
  border: none;
  border-radius: 2px;
  padding: 0.7em 1em;
  width: 100%;
  text-transform: capitalize;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  /* background-color: #22252A; */
  background-color: #141d30;
}

/* header styles */
header.banner {
  height: 70vh;
  position: relative;
  padding: 1em 2em 6em 2em;
}
header.banner::before, header.banner::after {
  content: "scroll down";
  position: absolute;
  top: 90%;
  font-weight: 500;
  transform: rotate(90deg) translateX(50%);
  animation: beat 1s ease-out infinite alternate;
}
header.banner::after {
  right: 0;
}
header.banner .comp-logo {
  background-color: #0f1626;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.2em 2em;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  transition: opacity 400ms ease;
}
header.banner .comp-logo > h1 {
  margin-bottom: 0;
}
header.banner .comp-logo > h1 a {
  padding: 0;
  color: #ce9e62;
}
header.banner .hamburger {
  position: absolute;
  width: 25px;
  height: 20px;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
header.banner .hamburger > div {
  position: relative;
  width: 100%;
  height: 2.5px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 250ms ease-in;
}
header.banner .hamburger > div::before, header.banner .hamburger > div::after {
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: inherit;
  border-radius: 5px;
  transition: transform 250ms ease-in;
  content: "";
  top: 5px;
  transition: transform 300ms ease;
}
header.banner .hamburger > div::after {
  top: -5px;
}
header.banner #toggler {
  position: absolute;
  width: 25px;
  height: 20px;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  outline: 1px solid red;
  z-index: 6;
  opacity: 0;
  cursor: pointer;
}
header.banner #toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
header.banner #toggler:checked + .hamburger > div::before, header.banner #toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
  animation: initial;
}
header.banner #toggler:checked:hover + .hamburger > div {
  transform: rotate(45deg);
}
header.banner #toggler:checked ~ .mainlinks {
  width: 100vw;
  transition: width 250ms ease;
}
header.banner #toggler:checked ~ .mainlinks > ul > li {
  transform: translateX(0);
}
header.banner .mainlinks {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: width 250ms ease 410ms;
}
header.banner .mainlinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
header.banner .mainlinks li {
  margin: 2rem 0;
  transform: translateX(-500px);
  transition: transform 600ms ease;
}
header.banner .mainlinks li:nth-child(2) {
  transition-delay: 80ms;
}
header.banner .mainlinks li:nth-child(3) {
  transition-delay: 160ms;
}
header.banner .mainlinks li:nth-child(4) {
  transition-delay: 240ms;
}
header.banner .mainlinks li:nth-child(5) {
  transition-delay: 320ms;
}
header.banner .mainlinks li:nth-child(6) {
  transition-delay: 400ms;
}
header.banner .mainlinks a {
  color: #eaeaeb;
}
header.banner .banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
header.banner .banner-text p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
header.banner .banner-text span {
  font-size: 2.6rem;
  font-weight: 700;
}
header.banner .banner-text a {
  border: 1px solid #fff;
  margin-right: 5px;
  padding: 0.6em 1.2em;
}
header.banner .media-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  z-index: 4;
}
header.banner .media-links::before, header.banner .media-links::after {
  content: "";
  position: absolute;
  top: -46%;
  left: 50%;
  height: 60px;
  width: 2px;
  transform: translateX(-50%);
  background-color: #fff;
}
header.banner .media-links::after {
  top: 106%;
}

@keyframes beat {
  0% {
    transform: rotate(90deg) translateX(0);
  }
  100% {
    transform: rotate(90deg) translateX(20px);
  }
}
/* main styles */
main.content {
  padding: 4em 2em;
  padding-bottom: 0;
  text-align: center;
}
main.content section {
  padding: 1em;
  margin: 4rem 0;
  background-color: #141d30;
}
main.content #about {
  margin: 0 -2em;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
}
main.content #about h2 {
  color: #ce9e62;
  font-size: 2rem;
}
main.content #about img {
  outline: 1px solid #ccc;
  outline-offset: 3px;
  order: 1;
  margin-bottom: 1rem;
}
main.content #about h2 {
  order: 2;
  margin-bottom: 3rem;
}
main.content #about .about_text {
  order: 3;
}
main.content #about span {
  display: block;
  margin: 1rem 0;
}
main.content #services {
  background-color: initial;
  position: relative;
  padding: 0 0 1em 2em;
}
main.content #services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #0f1626;
}
main.content #services::after {
  content: "";
  position: absolute;
  top: 99.8%;
  left: 0;
  transform: translate(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #0f1626;
}
main.content #services h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #ce9e62;
}
main.content #services > div {
  position: relative;
  padding-left: 5px;
  /* filter: drop-shadow(1px 0px 2px #313030)
          drop-shadow(-1px -1px 2px #0f141f); */
}
main.content #services > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-120%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #0f1626;
  clip-path: initial;
  z-index: 3;
}
main.content #services > div::after {
  content: "";
  position: absolute;
  top: 6.5px;
  left: -39px;
  width: 25px;
  height: 25px;
  color: #ce9e62;
  border-radius: 50%;
  background-color: #141d30;
  font-family: "Font Awesome 5 Brands";
  transition: transform 500ms ease;
}
main.content #services > div:hover::after {
  transform: rotate(360deg) scale(0.8);
}
main.content #services .design {
  text-align: left;
  position: relative;
  padding: 1em 2em;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #0f1626;
  clip-path: polygon(10px 0px, 10px 10px, 0px 15px, 10px 25px, 10px 100%, 100% 100%, 100% 0%);
  position: relative;
}
main.content #services h3 {
  margin: 1rem;
  margin-left: 0;
  font-size: 1.2rem;
  color: #ce9e62;
}
main.content #services i {
  font-size: 2.3rem;
}
main.content #skills {
  margin: 0 -2em;
  padding: 4em 2em;
  background-color: #0f1626;
}
main.content #skills h2 {
  color: #ce9e62;
  font-size: 2rem;
}
main.content #portfolio {
  margin: 0 -2em;
  padding: 4em 2em;
}
main.content #portfolio h2 {
  color: #ce9e62;
  font-size: 2rem;
}
main.content #portfolio h2 {
  margin-bottom: 3rem;
}
main.content #portfolio .project {
  margin-bottom: 2rem;
  height: 300px;
  position: relative;
}
main.content #portfolio .project:hover > .wrapper {
  height: 100%;
}
main.content #portfolio img {
  z-index: 2;
  height: 100%;
  border-radius: 5px;
}
main.content #portfolio .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #22252A;
  transition: height 300ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.content #testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 -2em;
  padding: 4em 2em;
  color: #fff;
  background-color: #0f1626;
}
main.content #testimonial h2 {
  color: #ce9e62;
  font-size: 2rem;
}
main.content #testimonial h2 {
  margin-bottom: 3rem;
}
main.content #testimonial .slider {
  position: relative;
  width: 250px;
  height: 400px;
  overflow: hidden;
}
main.content #testimonial .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 600ms ease;
}
main.content #testimonial .slide > p {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 1000ms ease 300ms;
}
main.content #testimonial .current > p {
  opacity: 1;
  transform: translateY(0);
}
main.content #testimonial .current {
  opacity: 1;
}
main.content #testimonial button {
  position: absolute;
  top: 35%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
}
main.content #testimonial button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
main.content #testimonial #next {
  right: 10px;
}
main.content #testimonial #prev {
  left: 10px;
}
main.content #contact {
  margin: 0 -2em;
  padding: 4em 2em;
  text-align: left;
}
main.content #contact h2 {
  color: #ce9e62;
  font-size: 2rem;
}
main.content #contact h2 {
  text-align: center;
  margin-bottom: 3rem;
}
main.content #contact .form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
main.content #contact i {
  content: "";
  position: absolute;
  top: 61%;
  left: 0;
  padding: 0 0 0 1em;
  color: #282B308f;
}
main.content #contact input[type=text]::placeholder,
main.content #contact input[type=email]::placeholder,
main.content #contact textarea::placeholder {
  font-size: 11px;
}
main.content #contact label {
  margin-bottom: 3px;
  font-weight: 500;
  text-transform: capitalize;
}

@keyframes move {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translate(0);
  }
}
/* footer styles */
footer.glossary {
  text-align: center;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f1626;
}
footer.glossary h2 {
  color: #ce9e62;
}
footer.glossary p:nth-of-type(2) {
  font-size: 0.7rem;
}
footer.glossary .sec-links {
  margin-bottom: 1rem;
}

/* media queries */
@media only screen and (max-width: 300px) {
  body {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
