@charset "UTF-8";
:root {
  --deep-bg: #0f1626 ;
  --dark-bg: #141d30 ;
  --deep-gold: #ce9e62 ;
  --pry-font-color: #eaeaeb ;
  --headings: #eaeaeb ;
  --icons-color: #eaeaeb ;
  --btn-bg: #0f1626 ;
  --before: #2338B1 ;
  --h1-color: #ce9e62 ;
  --demo-color: #2338B1 ;
  --about: #0f1626 ;
  --desk-padding: 6em ;
  --pry-radius: 5px ;
  --pry-padding: 2em ;
  --margin-bottom: 3rem ;
  --debugger: 1px solid red ;
}

:root.light {
  --deep-bg: #fff ;
  --dark-bg: #F9FBFF ;
  --deep-gold: #ce9e62 ;
  --pry-font-color: #273347 ;
  --headings: #1F2C46 ;
  --icons-color: #1F2C46 ;
  --btn-bg: #143786 ;
  --before: #DEE9FF ;
  --h1-color: #1c2d8b ;
  --demo-color: #eaeaeb ;
  --about: #DEE9FF ;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: montserrat, Arial, helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--pry-font-color);
  background-color: var(--dark-bg);
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--pry-font-color);
  text-transform: capitalize;
  padding: 0.3em 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: var(--headings);
}

h2 {
  font-size: 1.6rem;
  color: var(--headings);
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

i {
  color: var(--icons-color);
}

input {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.8em 3em;
  font-family: inherit;
  resize: none;
  border: none;
  border-radius: 2px;
  border: 1px solid #ccc;
}

textarea {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.8em 3em;
  font-family: inherit;
  resize: none;
  border: none;
  border-radius: 2px;
  padding-left: 1em;
  border: 1px solid #ccc;
}

button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.8em 3em;
  font-family: inherit;
  resize: none;
  border: none;
  border-radius: 2px;
  padding: 0.8em 1em;
  width: 100%;
  text-transform: capitalize;
  font-weight: 600;
  color: #eaeaeb;
  cursor: pointer;
  background-color: #0f1626;
}

/* header styles */
header.banner {
  height: 70vh;
  position: relative;
  padding: 1em var(--pry-padding) 6em var(--pry-padding);
}
header.banner::before, header.banner::after {
  content: "scroll down";
  position: absolute;
  top: 90%;
  font-weight: 500;
  transform: rotate(90deg) translateX(50%);
  animation: beat 1s ease-out infinite alternate;
}
header.banner::after {
  right: 0;
}
header.banner .comp-logo {
  background-color: #0f1626;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.2em 2em;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  transition: opacity 400ms ease;
}
header.banner .comp-logo > h1 {
  margin-bottom: 0;
}
header.banner .comp-logo > h1 a {
  padding: 0;
  color: var(--deep-gold);
}
header.banner .hamburger {
  position: absolute;
  width: 25px;
  height: 20px;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
header.banner .hamburger > div {
  position: relative;
  width: 100%;
  height: 2.3px;
  border-radius: var(--pry-radius);
  background-color: #eaeaeb;
  transition: transform 250ms ease-in;
}
header.banner .hamburger > div::before, header.banner .hamburger > div::after {
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: inherit;
  border-radius: 50%;
  transition: transform 250ms ease-in;
  content: "";
  top: 5px;
  transition: transform 300ms ease;
}
header.banner .hamburger > div::after {
  top: -5px;
}
header.banner #toggler {
  position: absolute;
  width: 25px;
  height: 20px;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  z-index: 6;
  opacity: 0;
  cursor: pointer;
  padding: 0;
}
header.banner #toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
header.banner #toggler:checked + .hamburger > div::before, header.banner #toggler:checked + .hamburger > div:after {
  top: 0;
  border-radius: var(--pry-radius);
  transform: rotate(90deg);
}
header.banner #toggler:checked:hover + .hamburger > div {
  transform: rotate(45deg);
}
header.banner #toggler:checked ~ .mainlinks {
  width: 100vw;
  transition: width 250ms ease;
}
header.banner #toggler:checked ~ .mainlinks > ul > li {
  transform: translateX(0);
}
header.banner #toggler:checked ~ .mainlinks > .sec-links {
  transform: translateY(0);
  transition-delay: 1s;
}
header.banner #toggler:checked ~ .mainlinks > #themer {
  opacity: 1;
  transition: opacity 1s ease-in;
}
header.banner .mainlinks {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: width 250ms ease 410ms;
}
header.banner .mainlinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  margin-top: 20px;
}
header.banner .mainlinks li {
  margin: 2rem 0;
  transform: translateX(-500px);
  transition: transform 1s ease;
}
header.banner .mainlinks li:nth-child(2) {
  transition-delay: 80ms;
}
header.banner .mainlinks li:nth-child(3) {
  transition-delay: 160ms;
}
header.banner .mainlinks li:nth-child(4) {
  transition-delay: 240ms;
}
header.banner .mainlinks li:nth-child(5) {
  transition-delay: 320ms;
}
header.banner .mainlinks li:nth-child(6) {
  transition-delay: 400ms;
}
header.banner .mainlinks a {
  color: #fff;
}
header.banner .mainlinks .sec-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  margin-top: 3rem;
  transform: translateY(500px);
  transition: transform 300ms ease;
}
header.banner .mainlinks .sec-links i {
  font-size: 1.3rem;
  font-weight: 700;
  color: #eaeaeb;
}
header.banner .mainlinks #themer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--deep-gold);
  background-color: var(--deep-bg);
  cursor: pointer;
  opacity: 0;
}
header.banner .banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
header.banner .banner-text p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
header.banner .banner-text span {
  font-size: 2.6rem;
  font-weight: 700;
}
header.banner .banner-text a {
  border: 2px solid #192540;
  margin-right: 5px;
  padding: 0.6em 1.2em;
  font-weight: normal;
  color: var(--pry-font-color);
}
header.banner .media-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  z-index: 4;
}
header.banner .media-links::before, header.banner .media-links::after {
  content: "";
  position: absolute;
  top: -46%;
  left: 50%;
  height: 60px;
  width: 2px;
  transform: translateX(-50%);
  background-color: var(--pry-font-color);
}
header.banner .media-links::after {
  top: 106%;
}

@keyframes beat {
  0% {
    transform: rotate(90deg) translateX(0);
  }
  100% {
    transform: rotate(90deg) translateX(20px);
  }
}
/* main styles */
main.content {
  padding: 4em var(--pry-padding);
  padding-bottom: 0;
  text-align: center;
}
main.content section {
  padding: 1em;
  margin: 4rem 0;
}
main.content #about {
  background-color: var(--about);
  margin: 0 -2em;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
}
main.content #about h2 {
  color: var(--h1-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}
main.content #about img {
  outline: 1px solid #ccc;
  outline-offset: 3px;
  margin-bottom: 1rem;
}
main.content #about h2 {
  margin-bottom: var(--margin-bottom);
}
main.content #about span {
  display: block;
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 500;
}
main.content #services {
  background-color: var(--dark-bg);
  position: relative;
  padding: 0 0 1em 2em;
}
main.content #services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--deep-bg);
}
main.content #services::after {
  content: "";
  position: absolute;
  top: 99.8%;
  left: 0;
  transform: translate(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--deep-bg);
}
main.content #services h2 {
  font-size: 2rem;
  margin-bottom: var(--margin-bottom);
  color: var(--h1-color);
}
main.content #services > div {
  position: relative;
  padding-left: 5px;
  filter: drop-shadow(0px 0px 2px #3535354b) drop-shadow(0px 0px 1px var(--deep-bg));
}
main.content #services > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-120%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid var(--deep-bg);
  clip-path: initial;
  z-index: 3;
}
main.content #services > div::after {
  content: "";
  position: absolute;
  top: 6.5px;
  left: -39px;
  width: 25px;
  height: 25px;
  color: var(--pry-font-color);
  border-radius: 50%;
  background-color: var(--before);
  font-family: "Font Awesome 5 Brands";
  transition: transform 500ms ease;
}
main.content #services > div:hover::after {
  transform: rotate(360deg) scale(0.8);
}
main.content #services .web-dev i {
  color: #ADCB50;
}
main.content #services .web-sec i {
  color: #e24c4c;
}
main.content #services .web-design i {
  color: #ADCB50;
}
main.content #services .design {
  text-align: left;
  position: relative;
  padding: 2em 2em;
  margin-bottom: 1rem;
  height: 100%;
  width: 100%;
  border-radius: var(--pry-radius);
  background-color: var(--deep-bg);
  clip-path: polygon(7px 0px, 7px 10px, 0px 15px, 7px 25px, 7px 100%, 100% 100%, 100% 0%);
  position: relative;
}
main.content #services h3 {
  margin: 1rem;
  margin-left: 0;
  font-size: 1.2rem;
}
main.content #services i {
  font-size: 2.7rem;
  filter: var(--icon-shadow);
}
main.content #services li {
  font-size: 0.8rem;
  font-weight: 600;
  color: #6272ce;
}
main.content #services li::before {
  content: "•";
  color: red;
  font-size: 1rem;
  font-weight: 900;
  margin-right: 8px;
}
main.content #skills {
  margin: 0 -2em;
  padding: 4em 2em;
  background-color: var(--deep-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.content #skills h2 {
  color: var(--h1-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}
main.content #skills ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
}
main.content #skills li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
  padding: 1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  background-color: var(--dark-bg);
}
main.content #skills span:nth-child(2) {
  text-transform: capitalize;
}
main.content #skills i {
  font-size: 2rem;
}
main.content #portfolio {
  margin: 0 -2em;
  padding: 4em 2em;
}
main.content #portfolio h2 {
  color: var(--h1-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}
main.content #portfolio .project {
  margin-bottom: 2rem;
  position: relative;
}
main.content #portfolio .project:hover > .wrapper {
  height: 100%;
  transition-delay: initial;
}
main.content #portfolio .project:hover .demo {
  width: 30%;
  transition: width 300ms ease-in 500ms;
}
main.content #portfolio .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--deep-bg);
  transition: height 300ms ease 400ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
main.content #portfolio .demo {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--pry-font-color);
  color: #000;
  overflow: hidden;
  transition: width 200ms ease-in;
}
main.content #portfolio i {
  color: var(--demo-color);
}
main.content #testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 -2em;
  padding: 4em 2em;
  color: var(--pry-font-color);
  background-color: var(--deep-bg);
  padding-bottom: 0;
}
main.content #testimonial h2 {
  color: var(--h1-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}
main.content #testimonial h2 {
  margin-bottom: var(--margin-bottom);
}
main.content #testimonial .slider {
  position: relative;
  width: 250px;
  height: 450px;
  overflow: hidden;
}
main.content #testimonial .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 600ms ease;
}
main.content #testimonial .slide > h5 {
  font-size: 1rem;
}
main.content #testimonial .slide p {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 1000ms ease 300ms;
}
main.content #testimonial .current {
  opacity: 1;
}
main.content #testimonial .current p {
  opacity: 1;
  transform: translateY(0);
}
main.content #testimonial button {
  position: absolute;
  top: 35%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #eaeaeb;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
}
main.content #testimonial button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
main.content #testimonial #next {
  right: 10px;
}
main.content #testimonial #prev {
  left: 10px;
}
main.content #contact {
  margin: 0 -2em;
  padding: 4em 2em;
  text-align: left;
}
main.content #contact h2 {
  color: var(--h1-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}
main.content #contact h2 {
  text-align: center;
  margin-bottom: var(--margin-bottom);
}
main.content #contact .contact-info {
  display: none;
}
main.content #contact .form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
main.content #contact i {
  content: "";
  position: absolute;
  top: 61%;
  left: 0;
  padding: 0 0 0 1em;
  color: #282B308f;
}
main.content #contact input[type=text]::placeholder,
main.content #contact input[type=email]::placeholder,
main.content #contact textarea::placeholder {
  font-size: 13px;
}
main.content #contact label {
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
}
main.content #contact button:hover {
  background-color: #192540;
}

@keyframes move {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translate(0);
  }
}
/* footer styles */
footer.glossary {
  text-align: center;
  padding: var(--pry-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f1626;
  color: #eaeaeb;
}
footer.glossary h2 {
  color: var(--deep-gold);
}
footer.glossary p:nth-of-type(2) {
  font-size: 0.7rem;
}
footer.glossary .sec-links {
  margin-bottom: 1rem;
}
footer.glossary a, footer.glossary i {
  color: #fff;
}

/* media queries */
@media only screen and (max-width: 300px) {
  body {
    font-size: 0.7rem;
  }
}
@media (min-width: 700px) {
  header.banner {
    height: 100vh;
    padding: 0;
    width: 100%;
  }
  header.banner::before, header.banner::after {
    all: initial;
  }
  header.banner .comp-logo {
    width: inherit;
    padding: 0.2em 2em;
  }
  header.banner #toggler,
header.banner .hamburger {
    display: none;
  }
  header.banner .mainlinks {
    position: initial;
    width: 75%;
    height: initial;
    background-color: inherit;
  }
  header.banner .mainlinks ul {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 100%;
    margin: 0;
  }
  header.banner .mainlinks li {
    transform: initial;
    margin: 0;
  }
  header.banner .mainlinks li:first-child {
    margin-left: auto;
  }
  header.banner .mainlinks li:nth-last-child(2) {
    margin-left: auto;
  }
  header.banner .mainlinks a {
    position: relative;
  }
  header.banner .mainlinks a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: calc(100% - 0.5em);
    transform: translateX(-50%) scale(0);
    border-radius: var(--pry-radius);
    background-color: #e72727;
    transition: all 400ms ease;
  }
  header.banner .mainlinks a:hover::after, header.banner .mainlinks a:focus::after {
    transform: translateX(-50%) scale(1);
  }
  header.banner .mainlinks .sec-links {
    display: none;
  }
  header.banner .mainlinks #themer {
    display: none;
  }
  header.banner .banner-text {
    padding: 0 2em;
  }
  header.banner .banner-text p {
    font-size: 2.6rem;
  }
  header.banner .banner-text span {
    font-size: 3.5rem;
  }
  header.banner .banner-text a {
    padding: 0.6em 1.5em;
  }

  main.content {
    padding: 0;
  }
  main.content section {
    padding: 0;
    margin: 0;
  }
  main.content #about {
    display: grid;
    grid-template-columns: 250px 350px;
    justify-content: center;
    align-items: start;
    gap: 50px;
    padding: 4em 2em;
    margin: 0;
  }
  main.content #about .about_text {
    text-align: left;
    font-size: 0.9rem;
  }
  main.content #about h2 {
    grid-column: 1/-1;
    margin-bottom: 3rem;
  }
  main.content #about img {
    align-self: center;
  }
  main.content #testimonial,
main.content #portfolio,
main.content #contact,
main.content #skills {
    margin: 0;
    padding: 4em 2em;
  }
  main.content #services {
    padding: 4em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  main.content #services::before, main.content #services::after {
    display: none;
  }
  main.content #services h2 {
    grid-column: 1/-1;
  }
  main.content #services > div::before, main.content #services > div::after {
    display: none;
  }
  main.content #skills ul {
    grid-template-columns: repeat(3, 1fr);
  }
  main.content #portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  main.content #portfolio h2 {
    grid-column: 1/-1;
  }
  main.content #portfolio .project {
    margin-bottom: 0;
  }
  main.content #contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main.content #contact h2 {
    width: 100%;
  }
  main.content #contact .contact-flex {
    display: flex;
    gap: 30px;
  }
  main.content #contact .contact-info {
    display: grid;
    align-items: start;
  }
  main.content #contact .contact-info i {
    position: static;
    color: var(--pry-font-color);
    font-size: 2.5rem;
    padding: 0;
  }
  main.content #contact a {
    text-transform: none;
    padding: 0;
  }
}
@media (min-width: 859px) {
  header.banner .comp-logo {
    padding: 0.2em var(--desk-padding);
  }
  header.banner .comp-logo > h1 {
    width: 20%;
  }
  header.banner .banner-text {
    padding: 0 var(--desk-padding);
  }

  main.content #about {
    padding: 4em var(--desk-padding);
  }
  main.content #services,
main.content #testimonial,
main.content #portfolio,
main.content #contact,
main.content #skills {
    padding: 4em var(--desk-padding);
  }
  main.content #skills ul {
    grid-template-columns: repeat(4, 1fr);
  }
  main.content #portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  main.content #portfolio h2 {
    grid-column: 1/-1;
  }
  main.content #portfolio .project {
    margin-bottom: 0;
  }
  main.content #testimonial {
    padding-bottom: 6em;
  }
  main.content #testimonial .slider {
    width: 70%;
    height: 300px;
  }
  main.content #testimonial .slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  main.content #testimonial .slide p {
    transform: translateX(500px);
  }
  main.content #testimonial .current p {
    transform: translateX(0);
  }
  main.content #testimonial button {
    top: 90%;
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
  main.content #testimonial #next {
    right: 45%;
  }
  main.content #testimonial #prev {
    left: 45%;
  }
  main.content #contact {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 100px;
  }
  main.content #contact h2 {
    grid-column: 1/-1;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.1rem;
    background-color: var(--dark-bg);
  }

  main.content #services {
    grid-template-columns: repeat(2, 1fr);
  }
  main.content #portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
