@import "reset";
@import "variable";
@import "mixin";


input {
    @include form-input;
     border: 1px solid #ccc;
 }

textarea {
    @include form-input;
    padding-left: 1em;
}
 
 button {
     @include form-input;
     padding: 0.7em 1em;
     width: 100%;
     text-transform: capitalize;
     font-weight: 500;
     color: inherit;
     background-color: $deep-blue;
 }

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    background-color: $dark-blue;
}


/* header styles */
header.banner {
    height: 70vh;
    position: relative;
    padding: 1em $pry-padding 6em $pry-padding;
   
    &::before,
    &::after {
        content: "scroll down";
        position: absolute;
        top: 90%;
        font-weight: 500;
        transform: rotate(90deg) translateX(50%);
        animation: beat 1s ease-out infinite alternate;
    }

    &::after {
        right: 0;
    }
    
    .comp-logo {
        background-color: $deep-blue;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0.2em 2em;
        display: flex;
        justify-content: space-between;
        z-index: 5;
        transition: opacity 400ms ease;
        
        > h1 {
            margin-bottom: 0;

            a {
                padding: 0;
                color: $deep-gold;
            }
        }
    }
    
    .hamburger {
        @include hamburger;
        @include flex(row);
        z-index: 3;
    }
    
    .hamburger > div {
        position: relative;
        width: 100%;
        height: 2.5px;
        border-radius: $pry-radius;
        background-color: #fff;
        transition: transform 250ms ease-in;
        
        &::before,
        &::after {
            @include hamburg-children;
            content: "";
            top: 5px;
            transition: transform 300ms ease;
        }
        
        &::after {
            top: -5px;
        }
    }
     
    #toggler {
        @include hamburger;
        outline: $debugger;
        z-index: 6;
        opacity: 0;
        cursor: pointer;
        
        &:checked + .hamburger > div {
            transform: rotate(135deg);
        }
        
        &:checked + .hamburger > div::before,
        &:checked + .hamburger > div:after {
            top: 0;
            transform: rotate(90deg);
            animation: initial;
        }
        
        &:checked:hover + .hamburger > div {
            transform: rotate(45deg);
        }
        
        &:checked ~ .mainlinks  {
            width: 100vw;
            transition: width 250ms ease;
        }

        &:checked ~ .mainlinks > ul > li {
            transform: translateX(0);
        }
    }
    
    .mainlinks {
        background-color: rgba(0, 0, 0, .95);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 100vh;
        overflow: hidden;
        transition: width 250ms ease 410ms;
    
        ul {
            list-style: none;
            @include flex(column);
            justify-content: flex-start;
            width: 100%;
            height: 100%;
        }
        
        li {
            margin: 2rem 0;
            transform: translateX(-500px);
            transition: transform 600ms ease;

            &:nth-child(2) {
                transition-delay: 80ms;
            }

            &:nth-child(3) {
                transition-delay: 160ms;
            }

            &:nth-child(4) {
                transition-delay: 240ms;
            }

            &:nth-child(5) {
                transition-delay: 320ms;
            }

            &:nth-child(6) {
                transition-delay: 400ms;
            }
        }

        a {
            color: #eaeaeb;
        }
    }

    .banner-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        p {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        span {
            font-size: 2.6rem;
            font-weight: 700;
        }

        a {
            border: 1px solid #fff;
            margin-right: 5px;
            padding: 0.6em 1.2em;
        }
       
    }

    .media-links {
        @include flex(column);
        position: absolute;
        gap: 10px;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        z-index: 4;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -46%;
            left: 50%;
            height: 60px;
            width: 2px;
            transform: translateX(-50%);
            background-color: #fff;
        }

        &::after {
            top: 106%;
        }
    }
}

@keyframes beat {
    0% {
        transform: rotate(90deg) translateX(0);
    }

    100% {
        transform: rotate(90deg) translateX(20px);
    }
}


/* main styles */
main.content {
    padding: 4em $pry-padding;
    padding-bottom: 0;
    text-align: center;

    section {
        padding: 1em;
        margin: 4rem 0;
    }

    #about {
       @include layout;
       display: flex;
       flex-direction: column;

       img {
           outline: 1px solid #ccc;
           outline-offset: 3px;
           order: 1;
           margin-bottom: 1rem;
       }

       h2 {
           order: 2;
           margin-bottom: $margin-bottom;
       }

       .about_text {
           order: 3;
       }

       span {
           display: block;
           margin: 1rem 0;
       }
    }

    #services {
        background-color: $dark-blue;
        position: relative;
        padding: 0 0 1em 2em;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: $deep-blue;
        }

        &::after {
            content: "";
            position: absolute;
            top: 99.8%;
            left: 0;
            transform: translate(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid $deep-blue;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: $margin-bottom;
            color: $deep-gold;
        }

        > div {
            position: relative;
            padding-left: 5px;
            /* filter: drop-shadow(1px 0px 2px #313030)
                    drop-shadow(-1px -1px 2px #0f141f); */

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-120%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 4px solid $deep-blue;
                clip-path: initial;
                z-index: 3;
            }

            &::after {
                content: "\f16c";
                position: absolute;
                top: 6.5px;
                left: -39px;
                width: 25px;
                height: 25px;
                color: $deep-gold;
                border-radius: 50%;
                background-color: $dark-blue;
                font-family: "Font Awesome 5 Brands";
                transition: transform 500ms ease;
            }

            &:hover::after {
                transform: rotate(360deg) scale(.8);
            }
        }

        .design {
            text-align: left;
            position: relative;
            padding: 1em 2em;
            margin-bottom: 1rem;
            border-radius: $pry-radius;
            background-color: $deep-blue;
            clip-path: polygon(10px 0px, 10px 10px, 0px 15px, 10px 25px, 10px 100%, 100% 100%, 100% 0% );
            position: relative;
        }

        h3 {
            margin: 1rem;
            margin-left: 0;
            font-size: 1.2rem;
            color: $deep-gold;
        }

        i {
            font-size: 2.3rem;
            
        }

    }

    #skills {
        @include layout;
        background-color: $deep-blue;
    }

    #portfolio {
        @include layout;

        h2 {
            margin-bottom: $margin-bottom;
        }

        .project {
            margin-bottom: 2rem;
            height: 300px;
            position: relative; 

            &:hover > .wrapper {
                height: 100%;
            }
        }

        img {
            z-index: 2;
            height: 100%;
            border-radius: $pry-radius;
        }

        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            background-color: $deep-blue;
            transition: height 300ms ease;
            @include flex(column);
        }
    }

    #testimonial { 
        @include flex(column);
        position: relative;
        @include layout;
        color: #fff;
        background-color: $deep-blue;

        h2 {
            margin-bottom: $margin-bottom;
        }
       
        .slider {
            position: relative;
            width: 250px;
            height: 400px;
            overflow: hidden;
        }
        
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 600ms ease;
        }
        
        .slide > p {
            transform: translateY(200px);
            opacity: 0;
            transition: transform 1000ms ease 300ms;
        }
        
        .current > p {
            opacity: 1;
            transform: translateY(0);
        }
        
        .current {
            opacity: 1;
        }
        
        button {
            position: absolute;
            top: 35%;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            @include flex(row);
            background-color: rgba(0,0,0,.25);

            &:hover {
                background-color: rgba(0,0,0,.8);
            }
        }
        
        #next {
            right: 10px;
        }
        
        #prev {
            left: 10px;
        }
    }

    #contact {
        @include layout;
        text-align: left;

        h2 {
            text-align: center;
            margin-bottom: $margin-bottom;
        }

        .form-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            position: relative;
        }

        i {
            content: "";
            position: absolute;
            top: 61%;
            left: 0;
            padding: 0 0 0 1em;
            color: #282B308f;
        }
        
        input[type="text"]::placeholder,
        input[type="email"]::placeholder,
        textarea::placeholder {
            font-size: 11px;
        }
    
        label {
            margin-bottom: 3px;
            font-weight: 500;
            text-transform: capitalize;
        }

        button:hover {
          background-color: lighten($deep-blue, 7);
        }

    }

}

@keyframes move {
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translate(0);
    }
}


/* footer styles */
footer.glossary {
    text-align: center;
    padding: $pry-padding;
    @include flex(column);
    background-color: $deep-blue;

    h2 {
        color: $deep-gold;
    }
    
    p:nth-of-type(2) {
        font-size: 0.7rem;
    }

    .sec-links {
        margin-bottom: 1rem;;
    }
}


/* media queries */
@media only screen and (max-width: 300px) {
    body {
        font-size: 0.7rem;
    }
}



